@using mdmontesinos.Module.Issue4812.Services
@using mdmontesinos.Module.Issue4812.Models

@namespace mdmontesinos.Module.Issue4812
@inherits ModuleBase
@inject IIssue4812Service Issue4812Service
@inject NavigationManager NavigationManager
@inject IStringLocalizer<Index> Localizer

@if (_news == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <section class="row masonry-grid">
        @foreach (var news in _news)
        {
            <article @key="news.NewsId" class="p-3 col-6 col-md-4">
                <a class="text-decoration-none" href="@news.Url">
                    <img class="mb-4 w-100 object-fit-cover" src="@news.CoverImageUrl" alt="@news.Title" />
                    <h4 class="fs-4 text-primary fw-bold">@news.Title</h4>
                    <p class="fw-light text-black">@news.Date.ToShortDateString()</p>
                    <div class="fw-light text-black mb-3">@((MarkupString)news.Lead)</div>
                    <div class="btn btn-link text-primary text-decoration-none ps-0">
                        <span>READ NEWS</span>
                    </div>
                </a>
            </article>
        }
    </section>
}

@code {
    public override string RenderMode => RenderModes.Static;

    private List<News> _news = [];

    protected override void OnInitialized()
    {
        Random random = new Random();

        for (int i = 0; i < 10; i++)
        {
            int width = random.Next(200, 400);
            int height = random.Next(200, 400);
            _news.Add(new News
                {
                    NewsId = i,
                    Title = $"News Title {i}",
                    Lead = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc consectetur ultricies. Nullam nec purus nec nunc consectetur ultricies.",
                    CoverImageUrl = $"https://picsum.photos/{width}/{height}",
                    Date = DateTime.Now,
                    Url = "https://www.example.com"
                });
        }
    }

    private class News
    {
        public int NewsId { get; set; }
        public string Title { get; set; } = string.Empty;
        public string Lead { get; set; } = string.Empty;
        public string CoverImageUrl { get; set; } = string.Empty;
        public DateTime Date { get; set; } = DateTime.Now;
        public string Url { get; set; } = string.Empty;
    }
}